@import "hamburger.css";

@import "normalize.css";

@font-face {
  font-family: phagspa;
  src: url(../fonts/phagspa.ttf);
}

@font-face {
  font-family: bahnschrift;
  src: url(../fonts/bahnschrift.ttf);
}

@font-face {
  font-family: century-gothic;
  src: url(../fonts/century-gothic.ttf);
}

* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: phagspa;
  color: #151515;
  background-color: green;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-family: century-gothic;
  color: #1B75BC;
}

h2, h3, h4, h5, h6 {
  font-family: bahnschrift;
  font-weight: lighter;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  background-color: #151515;
  color: #f5f5f5;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  user-select: none;
}

.header_inner {
  height: 100%;
  width: 100%;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.header_inner_title {
  font-size: 30px;
}

.header_inner_nav_menuBtn {
  font-size: 20px;
  color: #f5f5f5;
}

.header_inner_nav_menu {
  width: 150px;
  position: absolute;
  margin-left: -50px;
  background-color: #151515;
}

.header_inner_nav_menu ul {
  list-style: none;
}

.header_inner_nav_menu ul li {
  padding-bottom: 8px;
}

.header_inner_nav_menu ul li a {
  cursor: pointer;
}

.main {
  margin-top: 70px;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main_section {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  border-bottom: 3px solid #1B75BC;
  position: relative;
}

.main_section-product {
  color: #f5f5f5;
  background-image: url('../images/sunset-darker.jpeg');
  box-shadow: 0 5px 9px rgba(0,0,0,0.8);
  z-index: 1; /* For box shadow */
  border-bottom: none;
}

.main_section-careers {
  background-color: #151515;
}

.main_section-contact {
  height: 100%;
  padding: 80px 0;
  background-color: #f5f5f5;
}

.main_section_inner {
  padding: 0 12px;
}

.main_section_inner-product {
  display: flex;
  justify-content: flex-end;
}

.main_section_inner-careers {
  align-items: center;
}

.main_section_inner-careers img {
  width: 100%;
}

.main_section_inner-contact h2 {
  color: #f5f5f5;
}

.main_section_inner_content {
  display: flex;
}

.main_section_inner_content-product {
  width: 50%;
  margin-right: 10%;
  flex-direction: column;
}

.main_section_inner_content-careers {
  width: 100%;
  flex-direction: column;
  color: #f5f5f5;
}

.main_section_inner_content-contact {
  flex-direction: column;
}

.main_section_inner_content_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main_section_inner_content_left * {
  max-width: 400px;
}

.main_section_inner_content_triple {
  display: flex;
  flex-direction: column;
}

.main_section_inner_content_triple article {
  max-width: 200px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  margin: 20px;
  max-width: 300px;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  padding-top: 20px;
  flex: 1;
}

.main_section_inner_content_triple article img {
  max-height: 50%;
  width: 100%;
  display: flex;
  align-self: center;
  border-radius: 4px 4px 0 0;
}

.main_section_inner_content_triple_text {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  background-color: #f5f5f5;;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #151515;
  color: white;
  height: 70px;
}

@media screen and (min-width: 576px) {
  .header_inner, .main_section_inner {
    max-width: 540px;
  }

  .main_section_inner_content-careers {
    width: 100%;
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .header_inner, .main_section_inner {
    max-width: 720px;
  }

  .main_section_inner_content_triple {
    flex-direction: row;
  }
}

@media screen and (min-width: 992px) {
  .header_inner, .main_section_inner {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .header_inner, .main_section_inner {
    max-width: 1140px;
  }
}

@media screen and (min-width: 1440px) {
  .header_inner, .main_section_inner {
    max-width: 1280px;
  }
}
