@import "hamburger.css";

@import "normalize.css";

@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: roboto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  background-color: black;
  color: white;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  user-select: none;
}

.header_inner {
  height: 100%;
  width: 100%;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.header_inner_title {
  font-size: 30px;
}

.header_inner_nav_menuBtn {
  font-size: 20px;
  color: white;
}

.header_inner_nav_menu {
  width: 150px;
  position: absolute;
  margin-left: -50px;
  background-color: black;
}

.header_inner_nav_menu ul {
  list-style: none;
}

.header_inner_nav_menu ul li {
  padding-bottom: 8px;
}

.header_inner_nav_menu ul li a {
  cursor: pointer;
}

.main {
  margin-top: 70px;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main_section {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.main_section-product {
  color: white;
  background-image: url('../images/sunset-darker.jpeg');
}

.main_section_inner-product {
  display: flex;
  justify-content: flex-end;
}

.main_section_inner-careers {
  align-items: center;
}

.main_section_inner_content {
  display: flex;
}

.main_section_inner_content-product {
  width: 50%;
  margin-right: 10%;
  flex-direction: column;
}

.main_section_inner_content_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.main_section_inner_content_left * {
  max-width: 400px;
}

.main_section_inner_content-careers {
  width: 100%;
  flex-direction: row;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c0c0c0;
  height: 70px;
}

@media screen and (min-width: 576px) {
  .header_inner, .main_section_inner {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .header_inner, .main_section_inner {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .header_inner, .main_section_inner {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .header_inner, .main_section_inner {
    max-width: 1140px;
  }
}

@media screen and (min-width: 1440px) {
  .header_inner, .main_section_inner {
    max-width: 1280px;
  }
}
